<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcr31dN53tGnZrUQaNyYmt7eNvQW1V1yo</string>
	<key>GCM_SENDER_ID</key>
	<string>696525626406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.Authorization</string>
	<key>PROJECT_ID</key>
	<string>authorization-d6918</string>
	<key>STORAGE_BUCKET</key>
	<string>authorization-d6918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696525626406:ios:ae613c57e1cd37c58b9ae7</string>
</dict>
</plist>